/* General Styles */
.banner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #e8e2e2;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    max-width: 1200px;
    margin: 0 auto;
    height: 60vh;
  }
  
  /* Left Section */
  .banner-left {
    max-width: 50%;
  }
  
  .banner-left h1 {
    font-size: 2.5rem;
    margin: 10px 0;
    font-weight: 700;
    line-height: 1.2;
  }
  
  .banner-left h1 .highlight {
    color: #ff7c00;
  }
  
  .banner-left h2 {
    font-size: 1rem;
    font-weight: 400;
    color: #555;
  }
  
  .banner-left p {
    margin: 10px 0;
    font-size: 1rem;
    color: #777;
  }
  
  .banner-form {
    display: flex;
    gap: 10px;
  }
  
  .banner-form input {
    flex: 1;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1rem;
  }
  
  .banner-form .search-btn {
    padding: 10px 20px;
    background-color: #ff7c00;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 1rem;
    cursor: pointer;
  }
  
  .banner-form .search-btn:hover {
    background-color: #e06700;
  }
  
  /* Right Section */
  .banner-right {
    position: relative;
    max-width: 45%;
  }
  
  .banner-images {
    display: flex;
    gap: 10px;
    margin-left: 50px;
  }
  
  .banner-image {
    width: 200px;
    height: auto;
    border-radius: 10px;
    object-fit: cover;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);

  }
  
  /* Order Notifications */
  .order-notifications {
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  
  .notification {
    background-color: #fff;
    border: 1px solid #eee;
    border-radius: 5px;
    padding: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }
  
  .notification p {
    margin: 0;
  }
  
  .notification .order-title {
    font-weight: bold;
    color: #ff7c00;
  }
  
  .notification span {
    font-size: 0.9rem;
    color: #777;
  }
  

  .Order-section {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    max-width: 1200px;
    margin: 0 auto;
}

.Order-section img {
    width: 100%;
    height: auto;   
    object-fit: cover;
}