
.footer-container {
    background-color: #D9D9D9;
    padding: rem;
    font-family: Arial, sans-serif;
    bottom: 0;
    width: 100%;
  }
  
  /* Footer Content */
  .footer-content {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 2rem;
  }
  
  .footer-bottom-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
  }

  .footer-left,
  .footer-center,
  .footer-right {
    flex: 1;
  }
  
  .footer-left{
    padding: 10px;
    margin-left: 30px; 
    margin-top: 10px;   
  }
  .footer-center a{
    padding: 10px;
    color: #03081F;
    margin-top: 10px; 
  }
  .footer-right a{
    display: flex;
    padding: 10px;
    color: #03081F;
    margin-top: 10px; 
  }

  .logo {
    font-size: 2rem;
    font-weight: bold;
  }
  
  .logo span {
    color: orange;
  }
  
  .app-links img {
    margin-right: 1rem;
    height: 50px; /* Set a consistent height */
    width: 150px; /* Set a consistent width */
    object-fit: contain; /* Preserve aspect ratio */
    background-color: transparent; /* Ensure no background */
    border-radius: 0; /* Remove any rounded corners */
  }
  
  
  .subscribe {
    display: flex;
    gap: 0.5rem;
    margin: 1rem 0;
  }
  
  .subscribe input {
    padding: 0.5rem;
    flex: 1;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .subscribe button {
    padding: 0.5rem 1rem;
    background-color: orange;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .footer-bottom {
    text-align: center;
    margin-top: 2.5rem;
    font-size: 1rem;
    color: #ffffff;
    padding-bottom: 30px;
    background-color:#03081F;
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 10px;
    padding-bottom: 10px

  }

  .footer-bottom p {
    font-size: 1rem;
    gap: 10px;
    color: #ffffff;
  }
  
